.DS_Store
.env
.onpc
test.ipynb
development.py
test.md
test.py
.vscode
main.db
va.db
*backup
mongo2sqlite.py
database.md
devcogs
db_rss_insert.py
__pycache__
images/avataroriginq.png
images/avatarq.png
images/qoute.png
venv/